@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
   
}
.App{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
   
    margin: 5% 0;
}

/* chat icon css */
.chat-icon-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f5f1;
    border-radius: 50%;
    width: 4em;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .5s ease-in-out;
}
.flex{
    position: relative;
    grid-row: 2/3;
    left: auto;
    top: auto;
    transform: none;
    margin: 2%; 
}
.chat-icon-container i{
    font-size: 2rem;
    width: 100%;
    color: #ff8474;
    text-align: center;
}
.chat-icon-container:hover{
    background-color: #ff8474;   
}
.chat-icon-container:hover i{
    color: #f8f5f1;
}

/* chat box css */
.rsc, .rsc-os-option-element{
    font-family: 'Montserrat', sans-serif;
}
.rsc-header{
    background-color: #cf8076;
    color: white;
}
.rsc-content{
    background-color: #eeeeee;
}
.rsc-ts-bubble, .rsc-os-option-element{
    background-color:#d69b93;  
    color: white;
}
